page {
  height: 100%;
}

.detail-container {
  padding: 10px 50px 20px;
  box-sizing: border-box;
  height: 100%;

  .detail-slides {
    height: 100%;

    .detail-item {
      height: 100%;
      border-radius: 8px;
      background: #eeeeee;
      //color: #000000;
      //border: 1px #000000 solid;
    }
  }
}
